<div id=title>
  <h1>Teams</h1>
</div>

<%= render "shared/navigation" %>
# TODO: When we make the teams page dynamic move
#       the html from shared to here. No need for
#       it to be reused.
<%= render "shared/teams" %>
