<div id=title>
  <h1>Teams</h1>
</div>

<%= render "shared/navigation" %>
<% teams = Team.order(id: :asc).pluck(:name) %>

<table>
  <% teams.each do|f| %>
  <tr>
    <td><%=f%></td>
  </tr>
  <%end%>
