<div id=title>
  <h1>Teams</h1>
</div>

<%= render "shared/navigation" %>
<% teams = Team.order(id: :asc).pluck(:name, :captain, :score) %>

<table>
  <tr>
    <td>Teams</td>
    <!--<td>Captains</td>-->
    <td>Scores</td>
  </tr>
  <% teams.each do|f| %>
  <tr>
    <td><%=f[0]%></td>
    <td><%=f[2]%></td>
  </tr>
  <%end%>
