<div id='navigation'>
  <ul>
    <li><%= link_to "Home", controller: "home", action: "index" %></li>
    <li><%= link_to "Teams", controller: 'teams', action: 'all' %></li>
    <li><%= link_to "Login", controller: "login", action: "login" %></li>
  </ul>
</div>
