<%= stylesheet_link_tag 'navigation.css' %>
<div id='navigation'>
  <ul>
    <li><%= link_to "Home", controller: "home", action: "index" %></li>
    <!-- The next two should follow the same format -->
    <!-- when their controllers are created         -->
    <li><%= link_to "Teams" %></li>
    <li><%= link_to "Login" %></li>
  </ul>
</div>
