<%= javascript_include_tag('team.js') %>

<ul class="tab">
  <li><a href="javascript:void(0)" class="tablinks" onclick="openWeek(event, 'Schedule')" id="defaultOpen">Schedule</a></li>
  <li><a href="javascript:void(0)" class="tablinks" onclick="openWeek(event, 'Roster')">Roster</a></li>
</ul>

<body>
<div id="Schedule" class = "tabcontent">
  <table>
        <tr>
      <th>Week</th>
          <th>Opponent</th>
          <th>Result</th>
        </tr>
        <tr>
          <td>Week 1</td>
          <td>Georgia State Panthers</td>
          <td>TBD</td>
        </tr>
        <tr>
          <td>Week 2</td>
          <td>Georgia Tech Yellow Jackets</td>
          <td>TBD</td>
        </tr>
        <tr>
          <td>Week 3</td>
          <td>Columbus State</td>
          <td>TBD</td>
        </tr>
        <tr>
          <td>Week 4</td>
          <td>GCSU</td>
          <td>TBD</td>
        </tr>
        <tr>
          <td>Week 5</td>
          <td>SCAD</td>
          <td>TBD</td>
        </tr>
        <tr>
          <td>Week 6</td>
          <td>Mercer</td>
          <td>TBD</td>
        </tr>
        <tr>
          <td>Week 7</td>
          <td>Georgia Southern</td>
          <td>TBD</td>
        </tr>
        <tr>
          <td>Week 8</td>
          <td>Valdosta State University</td>
          <td>TBD</td>
        </tr>
        <tr>
          <td>Week 9</td>
          <td>Middle Georgia College</td>
          <td>TBD</td>
        </tr>
  </table>
</div>

<div id="Roster" class = "tabcontent">
  <table>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
        </tr>
        <tr>
          <td>Hulk</td>
          <td>Hogan</td>
        </tr>
        <tr>
          <td>Randy</td>
          <td>Savage</td>
        </tr>
        <tr>
          <td>Steve</td>
          <td>Austin</td>
        </tr>
        <tr>
          <td>Shawn</td>
          <td>Michaels</td>
        </tr>
        <tr>
          <td>John</td>
          <td>Cena</td>
        </tr>
        <tr>
          <td>Dwayne</td>
          <td>Johnson</td>
        </tr>
        <tr>
          <td>Dusty</td>
          <td>Rhodes</td>
        </tr>
        <tr>
          <td>Chris</td>
          <td>Jericho</td>
        </tr>
        <tr>
          <td>Vince</td>
          <td>Mcmahon</td>
        </tr>
        <tr>
          <td>Rey</td>
          <td>Mysterio</td>
        </tr>
  </table>
</div>
