<body>
<div id="teams">
	<table class="tg">
  <tr>
    <th>Team Name</th>
    <th>Leader</th>
    <th>School</th>
    <th>Current Ranking</th>
  </tr>
  <tr>
    <td>kennesaw State OWls</td>
    <td>Sam</td>
    <td>KSU</td>
    <td>76%</td>
  </tr>
  <tr>
    <td>Georgia Bulldogs</td>
    <td>Kristy</td>
    <td>GB</td>
    <td>75%</td>
  </tr>
  <tr>
    <td>West Georgia</td>
    <td>Harambe</td>
    <td>WG</td>
    <td>69%</td>
  </tr>
  <tr>
    <td>GCSU</td>
    <td>Prince</td>
    <td>GCSU</td>
    <td>67%</td>
  </tr>
  <tr>
    <td>Georgia State Panthers</td>
    <td>Molly</td>
    <td>GSU</t>
    <td>64%</td>
  </tr>
  <tr>
    <td>Georgia Tech Yellow Jackets</td>
    <td>Sarah</td>
    <td>GTech</td>
    <td>53%</td>
  </tr>
  <tr>
    <td>Columbus State</td>
    <td>Chris</td>
    <td>CSU</td>
    <td>47%</td>
  </tr>
  <tr>
    <td>Middle Georgia College</td>
    <td>Jim</td>
    <td>MGC</td>
    <td>43%</td>
  </tr>
   
</div>
</body>
