<%= stylesheet_link_tag 'general.css' %>
<div id=title>
  <h1>Synergy Scheduling</h1>
</div>
<%= render "shared/navigation" %>

<div id=calendar>
  <link rel="import" href="Synergy_Code/app/views/home/calendar.html.erb"
</div>
