/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* CSS that should go for every page.     */
/* If you don't want it everywhere, don't */
/* put it here.                           */

/* http://paletton.com/#uid=13I0u0ki5iwacsqf0nbmQfos0a- */

body {
  background-color: #304262;
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  padding:0px;
  list-style: none;
}

a {
  text-decoration: none;
}

#nothingHere {
  margin: auto;
  display: block;
  color: #FFFFFF;
  width: 80%;
  height: 50%;
  background-color: #47597B;
  border: 3px solid #46597B;
  border-radius: 25px;
  box-shadow: 3px 3px #0C1B38;
  text-align: center;
}

#title {
  /* need to pick a good font for this */
  background-color: #6B7B96;
  color: #FFFFFF;
  text-align: center;
  padding: 6px;
  margin: 0px;

}

.form {
  margin: auto;
  margin-top: 5%;
  color: #FFFFFF;
  width: 50%;
  height: 50%;
  border: 3px solid #46597B;
  border-radius: 25px;
  background-color: #47597B;
  text-align: center;
  box-shadow: 3px 3px #0C1B38;
}

.form input {
  margin-top: 10px;
  margin-bottom: 10px;
}
