// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login {
  width: 25%;
  margin: auto;
  text-align: center;
  color: #FFFFFF;
  border: 3px solid #46597B;
  border-radius: 25px;
  background-color: #47597B;
  margin-top: 5%;
  padding: 2%;
  box-shadow: 3px 3px #0C1B38;
}


