// Place all the styles related to the teamScoring controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#match {
  /* need to pick a good font for this */
  color: #FFFFFF;
  text-align: center;
  margin: 0px;

}
